* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: OpenSans;
    src: url("../fonts/OpenSans-Regular.ttf");
}

a {
    text-decoration: none;
    color: #FFF;
}

html {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
}

body {
    display: block;
    background: var(--020-a-18, #020A18);
}

.header {
    font-family: "OpenSans", "Ariya", sans-serif;
    white-space: nowrap;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.header__nav_menu {
    margin-right: calc(50% - 640px);
    margin-left: calc(50% - 640px);
    display: flex;
    /* align-items: center; */
    justify-content: center;
    gap: 0%;
}

._header__nav_menu__items {
    padding: 40px;
    list-style-type: none;
}

.main {
    margin: 10% 10% 15% 10%;
}

.conteiner {
    margin-right: calc(50% - 640px);
    margin-left: calc(50% - 640px);
    display: flex;
    align-items: center;
    /* Добавляем flex-контейнер */
    justify-content: space-between;
    /* padding-left: 1%;
    padding-right: 1%; */
}


.text {
    padding: 1% 0% 0% 1%;
    width: 43%;
    margin-left: 8%;
}

.text h3 {
    padding: 1% 1% 1% 1%;
    color: #3A68B8;
    font-family: "OpenSans", "Ariya", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    text-transform: uppercase;
}

.text h1 {
    padding: 1% 1% 10% 1%;
    color: #FFF;
    font-family: "OpenSans", "Ariya", sans-serif;
    font-size: 55px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%;
}

.text p {
    padding: 1% 1% 10% 1%;
    color: #FFF;
    font-family: "OpenSans", "Ariya", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    opacity: 0.7;
}

.contant {
    width: 30%;
    padding: 0% 11% 0% 1%;
}

.button {
    display: flex;
    justify-content: space-between;
    /* Равномерное распределение между элементами */
    align-items: center;
    /* Выравнивание элементов по вертикали */
    margin: 5% 0;
    /* Уменьшил верхний и нижний отступ */
}

.button__img {
    height: 100%;
    display: inline-flex;
    padding: 2% 5% 2% 5%;
    margin: 2% 25% 5% 1%;
    align-items: center;
    /* Выравнивание по вертикали */
    gap: 5%;
    border-radius: 5px;
    background: var(--3-a-68-b-8, #3A68B8);
    color: var(--ffffff, #FFF);
    white-space: nowrap;
    font-family: "OpenSans", "Ariya", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.button__text {
    height: 100%;
    display: inline-flex;
    padding: 2% 5% 2% 5%;
    margin: 2% 1% 5% 1%;
    align-items: center;
    /* Выравнивание по вертикали */
    gap: 5%;
    border-radius: 5px;
    background: var(--3-a-68-b-8, #3A68B8);
    color: var(--ffffff, #FFF);
    font-family: "OpenSans", "Ariya", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.banner_labels {
    padding: 20% 10% 15% 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4%;
    margin-right: calc(50% - 640px);
    margin-left: calc(50% - 640px);
}

h1 {
    font-family: Open Sans;
    font-size: 55px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%;
    padding: 10px 0;
}